:root {
  --primary-color: 20, 163, 255;
  --secondary-color: 240, 240, 240;
  --text: 51, 51, 51;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(var(--secondary-color));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

#logo {
  height: 10em;
  width: 10em;
  margin: 0;
  padding: 0;
  padding-top: 2em;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.section {
  min-height: 100vh;
  width: 100vw;
}
.section:nth-of-type(1) {
  background: rgb(var(--primary-color));
  width: 40%;
  display: flex;
  justify-content: center;
}
.section:nth-of-type(2) {
  background-color: rgb(var(--secondary-color));
  height: 10%;
  width: 60%;
  display: flex;
  justify-content: center;
}

/* Form */

#login-form {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  box-sizing: border-box;
  /* background: red; */
  padding-top: 4em;
}
h2 {
  color: rgb(var(--primary-color));
  margin-bottom: 1em;
}
form label {
  color: rgb(var(--text));
  display: block;
  margin-bottom: 1em;
}
form input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  background: rgb(var(--secondary-color));
  border: none;
  border-bottom: 1px solid rgb(var(--primary-color), 0.4);
}
form button {
  height: 4em;
  width: 17em;
  background: rgb(var(--primary-color));
  margin: 1em 0;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

form button:hover {
  background: rgb(var(--primary-color), 0.8);
}
form button:active {
  background: rgb(var(--primary-color), 0.6);
}

form p {
  color: rgb(var(--text), 0.8);
  margin-top: 1em;
  margin-left: 1em;
}

form .social-media img {
  width: 2em;
  height: 2em;
  margin-right: 1.5em;
}

#login-form p {
  color: rgb(var(--text), 0.8);
  margin-top: 1em;
}
#login-form p a {
  color: rgb(var(--primary-color));
  text-decoration: none;
}
